
10_Days_of_Statistics/.idea/10_Days_of_Statistics.iml
10_Days_of_Statistics/.idea/inspectionProfiles/profiles_settings.xml
10_Days_of_Statistics/.idea/misc.xml
10_Days_of_Statistics/.idea/modules.xml
10_Days_of_Statistics/.idea/vcs.xml
10_Days_of_Statistics/.idea/workspace.xml
